*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
/* Top header */
.upper-header {
    width: 100%;
    padding: 10px;
    background: rgb(242, 113, 68);
    background: linear-gradient(45deg, rgba(242, 113, 68, 1) 63%, rgba(38, 145, 191, 1) 63%);
}

.gradient {
    display: flex;
    justify-content: flex-end;
}

.gradient p {
    color: white;
    /* margin-left: 1030px; */
}

.gradient p i.fa-solid.fa-phone {
    color: white;
}
/* navbar starts */
.imglogo {
    width: 90px;

}
.imglogo img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}

.font a.nav-link.active {
    font-size: 20px;
    color: #F27144;
    margin-left: 20px;
    /* font-weight:bold; */
}
button.btn.btn-warning {
    background-color: #F27144;
    color: white;
    font-weight: 600;
}
/*---- banner start------ */
.banner_image_section
{
    width: 100% !important;
    overflow-x: hidden !important;
}

.banner
{
    width: 100%;
    height: 500px;
    background-image: url('./Images/bannerimage.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



/* first section starts */
.firstsection
{
    width: 100%;
    /* height: 900px; */
    background-color: #5a5a5a;
}
.courses_section {
    height: 380px;
    /* width: 380px; */
    /* background-color: gray; */
    border: 1px solid #5a5a5a;
    border-radius: 10px;
background-image: linear-gradient(#2691bf, #F27144);
}
.coursebg
{
    background-image: url(./Images/codingbg.jpg);
    width: 100%;
    height: 140px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.coursebgheading h5
{
    color: white;
    font-size: 18px;
    margin: 10px 0 0 10px;
}
.coursebgheading h6
{
    color: white;
    font-size: 12px;
    margin: 5px 0 0 15px;
}
.reactlogo
{
    height: 100px;
    width: 100px;
}
.reactlogo img
{
    height: 100%;
    width: 100%;
}
.courses_section h6
{
    color: white;
    font-size: 14px;
    padding: 10px 0 0 15px;
}
.courses_section h5
{
    color: white;
    padding: 10px 0 0 15px;
    font-size: 18px;
}
.courses_section p
{
    color: white;
    padding: 5px 0 0 15px;
    font-size: 13px;
}
i.fa-solid.fa-clock {
    color: orange;
    font-size: 14px;
    /* padding: 10px 0 0 0px; */
}
.watch
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 15px;
}
.watch h3
{
    margin: 0 15px;
}
.watch h4
{
    color: white;
    font-size: 14px;
    padding: 7px 0 0 5px;
}
.watchflex
{
    display: flex;
    align-items: centere;
    justify-content: space-between;
}
.courses_section h3
{
    color: white;
    font-size: 16px;
    padding: 10px 0 0 15px;
}
.rating
{
    margin: 0 0 0 15px;
}
.checked {
    color: orange;
  }
.enroll
{
    height: 30px;
    width: 120px;
    border-radius: 10px;
    background-color: black;
    text-align: center;
    margin: 10px 0 0 15px;
}
.enroll a
{
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}
.enroll a:hover
{
    color: white;
}
i.fa-solid.fa-greater-than {
    color: white;
    font-size: 12px;
    padding-top: 5px;
}
/* footer starts */
.footer {
    padding: 30px;
    width: 100%;
    background-color: white;
    color: black;
}
.logo 
{
    height: 90px;
  /* width: 70px; */
  margin-top: 20px;
}
.logo img
{
    height: 100%;
    /* width: 100%; */
}
i.fa-solid.fa-envelope {
    color: black;
    font-size: 20px;
    margin-top: 30px;
}
i.fa-solid.fa-envelope:hover
{
    color: #F27144;
    transition-duration: 0.7s;
}
.mail
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 25px;
}
.mail a
{
    text-decoration: none;
    color: black;
    margin: 25px 0 0 10px;
}
.mail a:hover
{
    color: #F27144;
}
i.fa-solid.fa-house {
    color: black;
    font-size: 20px;
    /* margin-top: 30px; */
}
i.fa-solid.fa-house:hover
{
    color: #F27144;
    transition-duration: 0.7s;
}
.home
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.home p
{
    color: black;
    font-size: 14px;
    margin: 30px 0 0 5px;
}
.coursefooter h5
{
    color: black;
    margin-top: 30px;
    padding-left: 30px;
    font-size: 24px;

}
.coursefooter ul
{
    list-style: none;
}
.coursefooter li a
{
    color: black;
    text-decoration: none;
    padding-top: 5px;
    font-size: 16px;
    line-height: 2;
}
.coursefooter li a:hover
{
    border-bottom: 2px solid black;
    color: #F27144;
}
i.fa-brands.fa-facebook {
    color: black;
    font-size: 28px;
    margin: 30px 0 0 25px;
}
i.fa-brands.fa-facebook:hover
{
    color: #F27144;
    transition-duration: 0.7s;
}
i.fa-brands.fa-instagram {
    color: black;
    font-size: 28px;
    margin: 30px 0 0 15px;
}
i.fa-brands.fa-instagram:hover
{
    color: #F27144;
    transition-duration: 0.7s;
}
i.fa-brands.fa-linkedin {
    color: black;
    font-size: 28px;
    margin: 30px 0 0 15px;
}
i.fa-brands.fa-linkedin:hover
{
    color: #F27144;
    transition-duration: 0.7s;
}
i.fa-brands.fa-youtube {
    color: black;
    font-size: 28px;
    margin: 30px 0 0 15px;
}
i.fa-brands.fa-youtube:hover
{
    color: #F27144;
    transition-duration: 0.7s;
}
/* copyright section */
.copyright
{
    width: 100%;
    background-color: #5a5a5a;
}
.copyright p
{
    color: white;
    text-align: center;
    padding-top: 4px;
}


/*----------- about us page start------------- */
.about_banner
{
    width: 100%;
    height: 300px;
    /* background-color: black; */
    background-image:url(./Images/aboutusbanner.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}
.about_heading h1
{
    color: #F27144;
    text-align: center;
    text-shadow: 2px 2px white;
    font-size: 4rem;
}

/*--------- first section start----------- */
.learning
{
    width: 100%;
    /* height: 750px; */
    background-color: #5a5a5a;
    padding: 30px 0 50px 0;
}
.learning_heading h2
{
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.learning_heading p
{
    color: white;
    text-align: center;
    margin-top: 20px;
}
/*--------- vision & mission start------------- */
.Certification_image {
    border: 1px solid #5a5a5a;
    width: 500px;
    height: 250px;
}
.Certification_image img {
    height: auto;
    width: 100%;
    object-fit: cover;
    border-radius: 0 0 30px 0;
    box-shadow: 5px 5px #F27144;
}
.certification_content h5
{
    color: white;
    text-align: left;
}
.certification_content p
{
    color: white;
}
.vision_mission_content h5
{
    color: white;
    text-align: justify;
}
.vision_mission_content p
{
    color: white;
    text-align: justify;
}
.vision_mission_image
{
    border: 1px solid #5a5a5a;
    width: 300px;
    height: 200px;
}
.vision_mission_image img {
    height: 180px;
    width: auto;
    object-fit: cover;
    border-radius: 0 0 30px 0;
    box-shadow: 5px 5px #F27144;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-right: 30px;
}

.row.justify-content-center.align-items-center.py-5 {
    margin-bottom: -35px;
}
/*----- why choose fullstack learning -------*/
.choose
{
    width: 100%;
    background-color: #4d4d4b;
    padding: 30px 0 50px 0;
}
.choose h2
{
    color: white;
    text-align: center;
    padding-bottom: 20px;
}
.card
{
    box-shadow: 6px 6px #F27144;
    border-radius: 10px;
}
.card h5
{
    color: #F27144;
}
.card img
{
    border-radius: 10px 10px 0 0;
}
.card_one
{
    box-shadow: 6px 6px #2691bf ;
    background-color: white;
    border-radius: 10px;
}
.card_one img
{
    border-radius: 10px 10px 0 0;
}
.card_one h5
{
    color: #F27144;
}
